@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

*{
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

*{
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #DBDCD5;
  --color-secondary: #1F1F1F;

  --font-playfairdisplay: "Playfair Display", serif;
  --font-bebasneue: "Bebas Neue", sans-serif;
  
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}